<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href= "../../../stylesheets/index.css">
</head>
<body>
    <div class="bucket">
    <form action="/signup" method="POST"  class="su">  
        <h1 >Signup</h1>
        <% if (typeof errorMessage !== "undefined") { %>
            <p style="color: red;"><%= errorMessage %></p>
        <% } %>

        <div class="fullName">
          <label for="fullName">Name</label> 
        </br>
          <input  class="nm" type="text" name="name" value="" placeholder="Enter Your FullName" autocomplete="on" required/>
          <span class="nmvalid" style="display: none;">✅</span>
        </div>
        <div class="Contact">
          <label for="ConatctNo">Contact No.</label>
          </br>
          <input type="tel" name="Contact" value="" placeholder="Enter your mobile number" 
          class="contc" pattern="^[9876][0-9]{2}[0-9]{3}[0-9]{4}" required/>
          <span class="convalid" style="display: none;">✅</span>
          <!--<span> <button type="button" id="otp" >Get otp</button></span>-->
        </div>
        <div class="Email">
          <label for="Email">Email</label>
          </br>
          <input class= "em" type="email" name="email" value="" placeholder="Enter your email" autocomplete="on" required/>
          <span class="emvalid" style="display: none;">✅</span>
        </div>
        <div class="password">
          <label for="password">Password</label>
          </br>
          <input
            type="password"
            name="password"
            value= ""
            id="pason"
            placeholder="Enter your password"
            required
          />
          <p class="recomendation">
            <span class="length">✔ At least 8 characters</span><br>
            <span class="uppercase">✔ At least 1 uppercase letter</span><br>
            <span class="lowercase">✔ At least 1 lowercase letter</span><br>
            <span class="number">✔ At least 1 number</span><br>
            <span class="special">✔ At least 1 special character (!@#$%^&*)</span>
            </p>
        </div>
        <div class="Signup-button" style="margin:10px 0 2px 0;">
          <button type="submit" name="registertype" id="Signup" value="Signup" title="Signup"> Signup </button>
        </div>
        <a href="/login"  style="margin:.5em 0 0 0; color: aliceblue;"><p style="margin:2px;">already have account-Login</p></a> 
    </form>
      
    </div>
     <script src="../../javascripts/validation.js">
     </script>
</body>
</html>



