<html>

<head>
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    body {
      min-height: 100vh;
    }

    nav {
      box-shadow: 3px 5px 10px black;
    }

    a {
      color: black;
    }

    .con {
      display: flex;
      width: 100%;
      gap: 1em;
      justify-content: space-evenly;
      flex-direction: row;
      align-items: center;
      flex-shrink: 1;
      flex-wrap: nowrap;
    }

    .ss {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-shrink: 1;
    }

    .searchBox {
      display: flex;
      flex-direction: row;
      width: 100%;
      gap: 0;
      justify-content: center;
      flex-grow: 1;
      flex-shrink: 1;
      min-width: 15rem;
      max-width: 25rem;
      align-items: center;
    }

    .navigators {
      align-self: flex-end;
      display: flex;
      flex-direction: row;
      height: 3rem;
      justify-content: flex-end;
      align-items: center;
      flex-shrink: 1;
    }

    .options li:hover {
      color: rgba(212, 212, 212, 0.597);
    }

   
    .options li a {
      color: black;
      font-weight: bold;
    }

    .options {
      display: flex;
      width: 90%;
      gap: 2rem;
      flex-direction: row;
      justify-content: flex-start;
      flex-shrink: 1;
      height: 50%;
      margin: 0;
      padding: 0;
      list-style: none;
      align-items: center;
    }

    .toggler {
      display: none;
      background: none;
      border: none;
      font-size: 30px;
      cursor: pointer;
      margin: 0;
    }

    .toogle {
      width: 100%;
      padding: 1rem 2rem;
      display: none;
    }

    .toogle ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding-left: 0;
    }

    .toogle li a {
      color: rgb(4, 4, 4);
      text-decoration: none;
      font-weight: bold;
    }

    .toogle li:hover{
      color: rgb(238, 141, 23);
    }
    @media (max-width: 1175px) {
      .navigators {
        display: none;
      }

      .toggler {
        display: inline;
        margin: 0;
      }
    }
  </style>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" />
</head>

<body>
  <header>
    <nav class="navbar navbar-light fixed-top custom_css" style="background-color:#5552bbc5" data-bs-theme="dark">
      <div class="con">
        <a class="navbar-brand fw-bolder text-black ms-5" href="#">
          LeafAndLoop
        </a>

        <div class="navigators">
          <ul class="options">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">Best Sellers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Other Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="checkout/contact.html">Connect To Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../Signin/signin.html">Signup/Signin</a>
            </li>
          </ul>
        </div>



        <div class="ss ms-5">
          <form class="searchBox" role="search">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search" style="height: 40px;" />
            <span class="btn btn-outline-success" style="font-size: 25px;">
              <i class="bi bi-search"></i>
            </span>
          </form>
        </div>

        <div style="display: flex; flex-direction: row; gap: 1em; margin-right: 2em;">
          <a href=""><i class="material-icons" style="font-size: 40px;">shopping_cart</i></a>
          <a href=""><i class="material-icons" style="font-size:40px;">account_circle</i></a>
        </div>



        <!-- Toggler Button -->
        <button class="toggler" onclick="toggleMenu()">
          <i class="material-icons">menu</i>
        </button>
      </div>
      <div class="toogle" id="menu">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Best Sellers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Other Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="checkout/contact.html">Connect To Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Signin/signin.html">Signup/Signin</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <script>
    function toggleMenu() {
      var menu = document.getElementById('menu');
      if (menu.style.display === 'flex') {
        menu.style.display = 'none';
      } else {
        menu.style.display = 'flex';
      }
    }
  </script>
</body>

</html>