    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="Header" content="Header part" />
    <meta name="keywords" content="pots,plants,indoor plants,buy plants online,custom prints,weeding cards" />
    <meta name="authore" content="Karan Bhatt" />
    <link rel="icon" type="image/x-icon" href="favicon_io (1)/lnl.ico" />
    <title>LeafAndLoop</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0&icon_names=shopping_cart" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" />
    <!-- break poins in bootstrap   
     navbar-expand-sm expands on small (>=576)
     navbar-expand-md expands on medium (>=768)
     navbar-expand-lg expands on large (>=992px)
     navbar-expand-xl expands on extra-large (>=1200px)
     -->
     <header>
    <nav class="navbar navbar-expand-sm navbar-light fixed-top custom_css" style="background-color:#2a4f24" data-bs-theme="dark">
      <div class="container d-flex flex-row gap-5 align-items-space-between bg-">
        <a class="navbar-brand align-self-center" href="#">
          LeafAndLoop
        </a>
        <a href=""> <span class="material-symbols-outlined">
          shopping_cart
        </span> </a>
        <a class="nav-link" href=""> <span> <img src="../public/1486564400-account_81513.png" alt="" height="30px" width="30px"></span></a>
        <button class="navbar-toggler navt" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#" >Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Best Sellers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Other Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="checkout/contact.html">Connect To Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../Signin/signin.html">Signup/Signin</a>
            </li>
          </ul>
          <form class=" d-flex flex-row gap-0 flex align-items-center align-self-center mt-2" role="search" aria-label="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
            <span class="btn btn-outline-success">
              <i class="bi bi-search align-self-center"></i> <!-- Bootstrap search icon -->
            </span>
          </form>
        </div>      
      </div>
      
    </nav>
  </header>