<html>

<head>
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    body {
      min-height: 100vh;
    }

    nav {
      box-shadow: 3px 5px 10px black;
    }
    .con {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      flex-direction: row;
      align-items: center;
      flex-shrink: 1;
      flex-wrap: nowrap;
    }

    a {
      color: black;
    }

    

    .ss {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-shrink: 1;
    }

    .searchBox {
      display: flex;
      flex-direction: row;
      width: 100%;
      gap: 0;
      justify-content: center;
      flex-grow: 1;
      flex-shrink: 1;
      min-width: 15rem;
      max-width: 25rem;
      align-items: center;
    }

    .navigators {
      align-self: flex-end;
      display: flex;
      flex-direction: row;
      height: 3rem;
      justify-content: flex-end;
      align-items: center;
      flex-shrink: 1;
    }

    .options li:hover {
      color: rgba(212, 212, 212, 0.597);
    }

   
    .options li a {
      color: black;
      font-weight: bold;
    }

    .options {
      display: flex;
      width: 90%;
      gap: 1rem;
      flex-direction: row;
      justify-content: flex-start;
      flex-shrink: 1;
      height: 50%;
      margin: 0;
      padding: 0;
      list-style: none;
      align-items: center;
    }

    .toggler {
      display: none;
      background: none;
      border: none;
      font-size: 30px;
      cursor: pointer;
      margin: 0;
    }

    .toogle {
      width: 100%;
      padding: 1rem 2rem;
      display: none;
    }

    .toogle ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding-left: 0;
    }

    .toogle li a {
      color: rgb(4, 4, 4);
      text-decoration: none;
      font-weight: bold;
    }

    #toggleSearch{
      display: none;
      flex-direction: column;
      gap: 2em;
      width: 50vh;
    }
    #togglesearchBox{
      display: none;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .togSeah{
      display: none;
    }
    .userandcart{
      display: flex; 
      flex-direction: row; 
      margin-left: 2em;
      margin-right: 3px;
    }
    @media (max-width: 1000px) {
      .navigators {
        display: none;
      }
      .toggler {
        display: inline;
        margin: 0 0px 0 5px;
        padding: 0;
        flex-shrink: 1;

      }
    }
    @media(max-width:650px) {
      .ss{
        display: none;
      }
      
      
      .togSeah{
        display: inline;
        border: black solid;
        height: auto;
        margin: 0 5px 0 0;
        padding:0;
      }
      
    }
    @media(max-width:400px){
      con{
      display: flex;
      width: 100%;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      flex-shrink: 1;
      flex-wrap: nowrap;
      }
      .userandcart{
      display: flex; 
      flex-direction: row; 
      margin-left: 1em;
      margin-right: 1em;
    }
    }
  </style>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" />
</head>

<body>
  <header>
    <nav class="navbar navbar-light fixed-top custom_css bg w-100 d-flex justify-content-center" style="background-color:#5552bbc5" data-bs-theme="dark">
      <div class="con">
        <a class="navbar-brand fw-bolder text-black ms-2 me-0" href="#">
          LeafAndLoop
        </a>

        <div class="navigators">
          
          <ul class="options">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">Best Sellers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Other Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="checkout/contact.html">Connect To Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../Signin/signin.html">Signup/Signin</a>
            </li>
          </ul>
        </div>


        <div class="ss">
          <form class="searchBox" role="search">
            <input 
            class="form-control" 
            type="search" 
            placeholder="Search" 
            aria-label="Search" 
            style="height: 40px;" 
            />
            <button type="submit"
            style="border-radius: 10px; outline: none; background-color:rgba(19, 161, 30, 0.662);"> 
            <i 
            class="material-icons"
            style="font-size: 37px; font-weight: bold; color:black;"> 
            search 
            </i></button>
           
          </form>
        </div>

        <div class="userandcart">
          <a href=""><i class="material-icons" style="font-size: 40px; color: black;">shopping_cart</i></a>
          <a href=""><i class="material-icons" style="font-size:40px; color: black;">account_circle</i></a>
        </div>



        <!-- Toggler for search bar-->
        <button type="submit" class="togSeah m-0" onclick="togglesearch()"
        style="border-radius: 10px; outline: none; background-color:rgba(19, 161, 30, 0.662);
        border:black solid;"> 
        <i 
        class="material-icons"
        style="font-size: 37px; font-weight: bold; color:black;"> 
        search 
        </i>
        </button>

        

        <!--Toogle for menu -->
        <button class="toggler me-5 ms-0 p-0" onclick="toggleMenu()">
          <i class="material-icons" style="font-size:50; font-weight: 400; color: black;">menu</i>
        </button>
      </div>
      <div class="toogle" id="menu">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Best Sellers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Other Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="checkout/contact.html">Connect To Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Signin/signin.html">Signup/Signin</a>
          </li>
        </ul>
        
      </div>
      <!--search div -->
      <div id="toggleSearch" style="display: none;" >
        <form id="togglesearchBox" role="search" style="display: none;">
          <input 
          class="form-control" 
          type="search" 
          placeholder="Search" 
          aria-label="Search" 
          style="height: 40px;" 
          />
          <button type="submit"
          style="border-radius: 10px; outline: none; background-color:rgba(19, 161, 30, 0.662); height: 40px;"> 
          <i 
          class="material-icons"
          style="font-size: 37px; font-weight: bold; color:black;"> 
          search 
          </i></button>
        </form>
      </div>

    </nav>
  </header>

  <script>

    let ts =  document.getElementById("toggleSearch");
    let tss = document.getElementById("togglesearchBox");
    let boxs = document.getElementById("togglesearchBox");
    let  menu = document.getElementById('menu');
    function toggleMenu() {
      
      if (menu.style.display === 'flex') {
        menu.style.display = 'none';
      } else {
        menu.style.display = 'flex';
      }
    }

    function togglesearch(){
      var search = document.getElementById("toggleSearch");
     
      if(search.style.display==='flex' || boxs.style.display==='flex'){
        search.style.display= 'none'
        boxs.style.display = 'none'
      }else{
        search.style.display='flex'
        boxs.style.display = 'flex'

      }

    }
    function s(obj){
      if(window.innerWidth>650){
       obj.style.display= 'none'
      }
    }

    window.addEventListener("resize",function (e){
      s(ts)
    })
  window.addEventListener("resize",function(){
    if(window.innerWidth>1000){
        menu.style.display='none'
      }
  })
  </script>
</body>

</html>