<html>
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
        <link rel="stylesheet" href="style.css">
    </head>
    <header>
        <div class="container">
            <div class="logo">
                <a class="golo" href="#">
                    LeafAndLoop
                  </a>
            </div>
       

            <div class="navigators">
                <ul class="options">
                    <li>
                        <a  aria-current="page" href="#" ><i class="material-icons">home</i></a>
                      </li>
                      <li >
                        <a  aria-current="page" href="/">Best Sellers</a>
                      </li>
                      <li >
                        <a  href="#">Other Services</a>
                      </li>
                      <li >
                        <a  href="checkout/contact.html">Connect To Us</a>
                      </li>
                      <li >
                        <a  href="../Signin/signin.html">Signup/Signin</a>
                      </li>
                </ul>
                
            </div>
            <div class="search">
                <form class="sach" role="search" aria-label="search">
                    <input style="height: 2em;" class="dhudo" type="search" placeholder="Search" aria-label="Search" />
                    <button class="searchbtn" style="height:2em">
                        <i class="material-icons">
                            search
                        </i>
                    </button>
                  </form>

            </div>
            <div class="cartanduser">
                <a href=""> <i class="material-icons" style="font-size: 40;">shopping_cart</i>
                <a href=""> <i class="material-icons" style="font-size: 40;"> account_circle</i></a>
            </div>

        </div>
    </header>
</html>